html{
    overflow-x: hidden;
}
#footer{
    margin: auto;
    background-color: #7d9c5b;
    display: grid;
    width: 100%;
    font-family: sans-serif;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 40px;
    margin-top: 30px;
}
.footer_list{
    margin-left: 50px;
    width: 400px;
}
.footer_list a{
    text-decoration: none;
    color: black;
    line-height: 25px;
}
.footer_list a:hover{
    color: red;
}
.social_tools{
    width: 400px;
    margin-left: 150px;
}
.copyright p{
    margin-left:90px ;
    font-weight: lighter;
    font-size: 14px;
    color: #000000B3;
    font-family: Arial, Helvetica, sans-serif,;
}
.footer_last_image{
    width: 100px;
    margin-left: 350px;
}