#gensis{
    height: 550px;
    background-image: url("https://cdn.shopify.com/s/files/1/0449/5225/6667/files/Story-min.jpg?v=1614599075");
    /* position: relative; */
    background-size: 100%;
    background-repeat: no-repeat;
}